/*
 This is supposed to give us a basic image on our website 
Once we get this up and working, we can def add a TFOT image from our computer 
*/
header {
    padding: 100px;
    background-image: url("https:bit.ly/2tAPl47");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 5px white;
}

